CREATE TABLE chat_log (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    role TEXT NOT NULL,                   -- 'user' µêû 'assistant'

    content TEXT NOT NULL,

    topic TEXT,

    tags TEXT,                            -- JSON µá╝Õ╝ÅþÜäµáçþ¡¥µò░þ╗ä

    context_version INTEGER DEFAULT 1,

    is_deleted INTEGER DEFAULT 0,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE INDEX idx_chat_created_at ON chat_log(created_at);
CREATE INDEX idx_chat_context ON chat_log(context_version);
CREATE TABLE memory (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    chat_log_id INTEGER NOT NULL,

    keyword TEXT NOT NULL,

    value TEXT NOT NULL,

    topic TEXT,

    tags TEXT,

    source TEXT,

    is_deleted INTEGER DEFAULT 0,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (chat_log_id) REFERENCES chat_log(id) ON DELETE CASCADE,

    UNIQUE(chat_log_id, keyword, value)

);
CREATE INDEX idx_memory_keyword ON memory(keyword);
CREATE INDEX idx_memory_created_at ON memory(created_at);
CREATE TABLE preference (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    chat_log_id INTEGER NOT NULL,

    category TEXT NOT NULL,

    value TEXT NOT NULL,

    importance INTEGER DEFAULT 1,

    tags TEXT,

    is_deleted INTEGER DEFAULT 0,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (chat_log_id) REFERENCES chat_log(id) ON DELETE CASCADE,

    UNIQUE(chat_log_id, category, value)

);
CREATE TABLE daily_summary (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    date TEXT NOT NULL UNIQUE,

    summary TEXT NOT NULL,

    emotion_chart TEXT,

    wordcloud_keywords TEXT,

    tags TEXT,

    is_deleted INTEGER DEFAULT 0,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE emotion_dictionary (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    word TEXT NOT NULL,

    emotion TEXT NOT NULL,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE speech_log (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    text TEXT NOT NULL,

    path TEXT NOT NULL,

    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE preference_keyword_map (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    keyword TEXT NOT NULL UNIQUE,     -- þö¿µêÀÞ»┤þÜäÕà│Úö«Þ»ì´╝êµ¿íþ│èµêûÕÅÿõ¢ô´╝ë

    field TEXT NOT NULL,             -- µÿáÕ░äÕÉÄþÜäµáçÕçåÕ¡ùµ«ÁÕÉì

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE stopwords (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    word TEXT NOT NULL UNIQUE

);
CREATE TABLE speech_config (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    emotion TEXT NOT NULL UNIQUE,

    style TEXT,

    voice TEXT,

    rate TEXT,

    volume TEXT,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE emotions (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    keyword TEXT NOT NULL,

    emotion TEXT NOT NULL,

    created TEXT DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE preference_rules (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    keyword TEXT NOT NULL UNIQUE,

    reply_template TEXT NOT NULL,

    category TEXT,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE preference_template (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    type TEXT NOT NULL,           -- þ▒╗Õ×ï´╝Üpreference / negative / recall

    keyword TEXT NOT NULL         -- Õà│Úö«Þ»ì

);
CREATE TABLE emotion_log (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    content TEXT,

    emotion TEXT,

    timestamp TEXT

);
